In [20]:
df = spark.read.csv('hdd_replaced_dataset.csv', header='true')

In [21]:
df.count()

67

In [22]:
df.limit(2).show()

+----------+--------------------+----+
|  replaced|                node|disk|
+----------+--------------------+----+
|1520290800|c14.10.bd.cluster...| sde|
|1525039200|c14.4.bd.cluster....| sdf|
+----------+--------------------+----+

In [23]:
df.show()

+----------+--------------------+----+
|  replaced|                node|disk|
+----------+--------------------+----+
|1520290800|c14.10.bd.cluster...| sde|
|1525039200|c14.4.bd.cluster....| sdf|
|1525039200|c14.9.bd.cluster....| sdb|
|1525644000|c14.10.bd.cluster...| sdf|
|1528927200|c13.15.node.int.c...| sdb|
|1529013600|c13.14.node.int.c...| sdd|
|1528754400|c14.1.bd.cluster....| sdj|
|1531432800|c13.13.node.int.c...| sdg|
|1532728800|c14.3.bd.cluster....| sdl|
|1532815200|c14.6.bd.cluster....| sdh|
|1532901600|c14.9.bd.cluster....| sde|
|1543878000|c13.13.node.int.c...| sdj|
|1543878000|c13.13.node.int.c...| sdb|
|1544569200|c13.7.node.int.ce...| sdf|
|1545001200|c14.8.bd.cluster....| sde|
|1545001200|c14.12.bd.cluster...| sdj|
|1545260400|c14.11.bd.cluster...| sdl|
|1545606000|c14.12.bd.cluster...| sde|
|1545865200|c14.5.bd.cluster....| sdj|
|1545865200|c14.14.bd.cluster...| sdd|
+----------+--------------------+----+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import *

In [25]:
df = df.withColumn("timestamp", from_unixtime("replaced"))

In [26]:
df.show()

+----------+--------------------+----+-------------------+
|  replaced|                node|disk|          timestamp|
+----------+--------------------+----+-------------------+
|1520290800|c14.10.bd.cluster...| sde|2018-03-06 00:00:00|
|1525039200|c14.4.bd.cluster....| sdf|2018-04-30 00:00:00|
|1525039200|c14.9.bd.cluster....| sdb|2018-04-30 00:00:00|
|1525644000|c14.10.bd.cluster...| sdf|2018-05-07 00:00:00|
|1528927200|c13.15.node.int.c...| sdb|2018-06-14 00:00:00|
|1529013600|c13.14.node.int.c...| sdd|2018-06-15 00:00:00|
|1528754400|c14.1.bd.cluster....| sdj|2018-06-12 00:00:00|
|1531432800|c13.13.node.int.c...| sdg|2018-07-13 00:00:00|
|1532728800|c14.3.bd.cluster....| sdl|2018-07-28 00:00:00|
|1532815200|c14.6.bd.cluster....| sdh|2018-07-29 00:00:00|
|1532901600|c14.9.bd.cluster....| sde|2018-07-30 00:00:00|
|1543878000|c13.13.node.int.c...| sdj|2018-12-04 00:00:00|
|1543878000|c13.13.node.int.c...| sdb|2018-12-04 00:00:00|
|1544569200|c13.7.node.int.ce...| sdf|2018-12-12 00:00:00|
|1545001200|c14.8.bd.cluster....| sde|2018-12-17 00:00:00|
|1545001200|c14.12.bd.cluster...| sdj|2018-12-17 00:00:00|
|1545260400|c14.11.bd.cluster...| sdl|2018-12-20 00:00:00|
|1545606000|c14.12.bd.cluster...| sde|2018-12-24 00:00:00|
|1545865200|c14.5.bd.cluster....| sdj|2018-12-27 00:00:00|
|1545865200|c14.14.bd.cluster...| sdd|2018-12-27 00:00:00|
+----------+--------------------+----+-------------------+
only showing top 20 rows

In [27]:
df.dtypes

[('replaced', 'string'),
 ('node', 'string'),
 ('disk', 'string'),
 ('timestamp', 'string')]

In [28]:
#df = df.withColumn("timestamp", to_date("timestamp", format='yyyy-MM-dd HH:mm:ss'))

In [29]:
df.dtypes

[('replaced', 'string'),
 ('node', 'string'),
 ('disk', 'string'),
 ('timestamp', 'string')]

In [30]:
df.show()

+----------+--------------------+----+-------------------+
|  replaced|                node|disk|          timestamp|
+----------+--------------------+----+-------------------+
|1520290800|c14.10.bd.cluster...| sde|2018-03-06 00:00:00|
|1525039200|c14.4.bd.cluster....| sdf|2018-04-30 00:00:00|
|1525039200|c14.9.bd.cluster....| sdb|2018-04-30 00:00:00|
|1525644000|c14.10.bd.cluster...| sdf|2018-05-07 00:00:00|
|1528927200|c13.15.node.int.c...| sdb|2018-06-14 00:00:00|
|1529013600|c13.14.node.int.c...| sdd|2018-06-15 00:00:00|
|1528754400|c14.1.bd.cluster....| sdj|2018-06-12 00:00:00|
|1531432800|c13.13.node.int.c...| sdg|2018-07-13 00:00:00|
|1532728800|c14.3.bd.cluster....| sdl|2018-07-28 00:00:00|
|1532815200|c14.6.bd.cluster....| sdh|2018-07-29 00:00:00|
|1532901600|c14.9.bd.cluster....| sde|2018-07-30 00:00:00|
|1543878000|c13.13.node.int.c...| sdj|2018-12-04 00:00:00|
|1543878000|c13.13.node.int.c...| sdb|2018-12-04 00:00:00|
|1544569200|c13.7.node.int.ce...| sdf|2018-12-12 00:00:00|
|1545001200|c14.8.bd.cluster....| sde|2018-12-17 00:00:00|
|1545001200|c14.12.bd.cluster...| sdj|2018-12-17 00:00:00|
|1545260400|c14.11.bd.cluster...| sdl|2018-12-20 00:00:00|
|1545606000|c14.12.bd.cluster...| sde|2018-12-24 00:00:00|
|1545865200|c14.5.bd.cluster....| sdj|2018-12-27 00:00:00|
|1545865200|c14.14.bd.cluster...| sdd|2018-12-27 00:00:00|
+----------+--------------------+----+-------------------+
only showing top 20 rows

In [31]:
df.dtypes

[('replaced', 'string'),
 ('node', 'string'),
 ('disk', 'string'),
 ('timestamp', 'string')]

In [32]:
columns_to_drop = ['replaced']
df = df.drop(*columns_to_drop)

In [33]:
df.show()

+--------------------+----+-------------------+
|                node|disk|          timestamp|
+--------------------+----+-------------------+
|c14.10.bd.cluster...| sde|2018-03-06 00:00:00|
|c14.4.bd.cluster....| sdf|2018-04-30 00:00:00|
|c14.9.bd.cluster....| sdb|2018-04-30 00:00:00|
|c14.10.bd.cluster...| sdf|2018-05-07 00:00:00|
|c13.15.node.int.c...| sdb|2018-06-14 00:00:00|
|c13.14.node.int.c...| sdd|2018-06-15 00:00:00|
|c14.1.bd.cluster....| sdj|2018-06-12 00:00:00|
|c13.13.node.int.c...| sdg|2018-07-13 00:00:00|
|c14.3.bd.cluster....| sdl|2018-07-28 00:00:00|
|c14.6.bd.cluster....| sdh|2018-07-29 00:00:00|
|c14.9.bd.cluster....| sde|2018-07-30 00:00:00|
|c13.13.node.int.c...| sdj|2018-12-04 00:00:00|
|c13.13.node.int.c...| sdb|2018-12-04 00:00:00|
|c13.7.node.int.ce...| sdf|2018-12-12 00:00:00|
|c14.8.bd.cluster....| sde|2018-12-17 00:00:00|
|c14.12.bd.cluster...| sdj|2018-12-17 00:00:00|
|c14.11.bd.cluster...| sdl|2018-12-20 00:00:00|
|c14.12.bd.cluster...| sde|2018-12-24 00:00:00|
|c14.5.bd.cluster....| sdj|2018-12-27 00:00:00|
|c14.14.bd.cluster...| sdd|2018-12-27 00:00:00|
+--------------------+----+-------------------+
only showing top 20 rows

In [34]:
type(df)

pyspark.sql.dataframe.DataFrame

In [35]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [36]:
def abreviating_disk(x):
    return ".".join(x.split(".", 2)[:2])

abreviating_disk_UDF = udf(lambda z: abreviating_disk(z),StringType())

def etl_labels(df):
    df = df.withColumn("timestamp", from_unixtime("replaced"))
    #df = df.withColumn("timestamp", to_date("timestamp", format='yyyy-MM-dd HH:mm:ss'))
    df = df.withColumn("node", abreviating_disk_UDF("node"))
    columns_to_drop = ['replaced']
    df = df.drop(*columns_to_drop)
    return df

In [37]:
from pyspark.sql.functions import *
df = spark.read.csv('hdd_replaced_dataset.csv', header='true')
df_processed = etl_labels(df)

In [38]:
df_processed.show()

+------+----+-------------------+
|  node|disk|          timestamp|
+------+----+-------------------+
|c14.10| sde|2018-03-06 00:00:00|
| c14.4| sdf|2018-04-30 00:00:00|
| c14.9| sdb|2018-04-30 00:00:00|
|c14.10| sdf|2018-05-07 00:00:00|
|c13.15| sdb|2018-06-14 00:00:00|
|c13.14| sdd|2018-06-15 00:00:00|
| c14.1| sdj|2018-06-12 00:00:00|
|c13.13| sdg|2018-07-13 00:00:00|
| c14.3| sdl|2018-07-28 00:00:00|
| c14.6| sdh|2018-07-29 00:00:00|
| c14.9| sde|2018-07-30 00:00:00|
|c13.13| sdj|2018-12-04 00:00:00|
|c13.13| sdb|2018-12-04 00:00:00|
| c13.7| sdf|2018-12-12 00:00:00|
| c14.8| sde|2018-12-17 00:00:00|
|c14.12| sdj|2018-12-17 00:00:00|
|c14.11| sdl|2018-12-20 00:00:00|
|c14.12| sde|2018-12-24 00:00:00|
| c14.5| sdj|2018-12-27 00:00:00|
|c14.14| sdd|2018-12-27 00:00:00|
+------+----+-------------------+
only showing top 20 rows

In [39]:
df_processed.toPandas().to_csv('labels_processed.csv', index = False)

In [40]:
df_processed.limit(1).show()

+------+----+-------------------+
|  node|disk|          timestamp|
+------+----+-------------------+
|c14.10| sde|2018-03-06 00:00:00|
+------+----+-------------------+

In [41]:
df_processed.head()

Row(node=u'c14.10', disk=u'sde', timestamp=u'2018-03-06 00:00:00')

In [14]:
df_processed.createOrReplaceTempView("labels")

In [16]:
spark.sql("select distinct disk from labels").show()

+----+
|disk|
+----+
| sdd|
| sdg|
| sdc|
| sdi|
| sdh|
| sdk|
| sdf|
| sda|
| sde|
| sdb|
| sdj|
| sdl|
+----+

In [18]:
spark.sql("select node disk from labels").count()

67

In [20]:
df_processed.count()

67

In [4]:
df.select('node')

+--------------------+
|                node|
+--------------------+
|c14.10.bd.cluster...|
|c14.4.bd.cluster....|
|c14.9.bd.cluster....|
|c14.10.bd.cluster...|
|c13.15.node.int.c...|
|c13.14.node.int.c...|
|c14.1.bd.cluster....|
|c13.13.node.int.c...|
|c14.3.bd.cluster....|
|c14.6.bd.cluster....|
|c14.9.bd.cluster....|
|c13.13.node.int.c...|
|c13.13.node.int.c...|
|c13.7.node.int.ce...|
|c14.8.bd.cluster....|
|c14.12.bd.cluster...|
|c14.11.bd.cluster...|
|c14.12.bd.cluster...|
|c14.5.bd.cluster....|
|c14.14.bd.cluster...|
+--------------------+
only showing top 20 rows